asteval==1.0.8
cachetools==6.2.4
click==8.3.1
colorama==0.4.6
dill==0.4.0
ImageIO==2.37.2
lazy_loader==0.4
multiprocess==0.70.18
networkx==3.6.1
numpy==2.4.0
packaging==25.0
pillow==12.1.0
pnoise==0.2.0
pyphen==0.15.0
scikit-image==0.26.0
scipy==1.16.3
shapely==2.1.2
svgelements==1.9.6
svgpathtools==1.7.2
svgwrite==1.4.3
tifffile==2025.12.20
tomli==2.3.0
vpype==1.15.0
